KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/bootloader.o \
$(ARCHDIR)/readwriteport.o \
$(ARCHDIR)/VGADriver.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/keyboard.o \
$(ARCHDIR)/keyboardhandler.o \
$(ARCHDIR)/cmos.o \
$(ARCHDIR)/timer.o \
$(ARCHDIR)/timerhandler.o